<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<header>
		<span [ngClass]="{'logo': 'true'}"><a href="#">{{ title }}</a></span>
		<main-nav></main-nav>
		<ul [ngClass]="{'navigation': 'true'}">
			<li>
				<a href="#" mat-button [ngClass]="{'news-menu': 'true'}">
				  News
				</a>
			</li>
			<li>
				<span [ngClass]="{'count-msg': 'true'}">3</span>
				<a href="#" mat-button [ngClass]="{'messages-menu': 'true'}">
				  Messages
				</a>
			</li>
			<li>
				<a href="#" mat-button [ngClass]="{'profil-menu': 'true'}">
				  A.M
				</a>
			</li>
		</ul>
	</header>
	<section [ngClass]="{'banner-top': 'true'}">
		<h1>Titre de la page</h1>
		<!-- Raised button with ripple -->
		<button mat-button class="mat-button mat-js-button mat-button--raised mat-js-ripple-effect">
		  Créer un parcours
		</button>
	</section>
	<aside>	
		<div [ngClass]="{'aside-top': 'true'}">
			<img src="../assets/img/img-poings.jpg">
			<span [ngClass]="{'number-career': 'true'}">3 parcours affectés sur ce programme</span>
		</div>
		<div [ngClass]="{'aside-bot': 'true'}">
			<h2>Nom du programme</h2>
			<mat-form-field>
			  <mat-select placeholder="Choisir la langue" disableRipple>
			    <mat-option selected value="fr">Français</mat-option>
			    <mat-option value="en">English</mat-option>
			    <mat-option value="de">Deutsch</mat-option>
			  </mat-select>
			</mat-form-field>
			<div [ngClass]="{'tags': 'true'}">
				<span>Train & Coach</span>
				<!-- <span>Train & Coach</span>
 -->			</div>
			<div [ngClass]="{'programme-informations': 'true'}">
				<div [ngClass]="{'little-bloc': 'true'}">
					<span [ngClass]="{'picto calendar': 'true'}"></span>
					<span [ngClass]="{'info-title': 'true'}">Durée du parcours</span>
					<span [ngClass]="{'info': 'true'}">3 mois</span>
				</div>
				<div [ngClass]="{'little-bloc': 'true'}">
					<span [ngClass]="{'picto diagram': 'true'}"></span>
					<span [ngClass]="{'info-title': 'true'}">Nombre de séances</span>
					<span [ngClass]="{'info': 'true'}">5</span>
				</div>
				<div [ngClass]="{'little-bloc': 'true'}">
					<span [ngClass]="{'picto stopwatch': 'true'}"></span>
					<span [ngClass]="{'info-title': 'true'}">Durée d'une séance</span>
					<span [ngClass]="{'info': 'true'}">60 minutes</span>
				</div>
				<div [ngClass]="{'little-bloc': 'true'}">
					<span [ngClass]="{'picto chart-bar': 'true'}"></span>
					<span [ngClass]="{'info-title': 'true'}">DISC</span>
					<span [ngClass]="{'info': 'true'}">OUI</span>
				</div>
				<div [ngClass]="{'little-bloc': 'true'}">
					<span [ngClass]="{'picto bullseye': 'true'}"></span>
					<span [ngClass]="{'info-title': 'true'}">Saisie des objectifs initiaux</span>
					<span [ngClass]="{'info': 'true'}">OUI (3)</span>
				</div>
			</div>
		</div>
	</aside>
	<article>
		<h3>Description</h3>
		<div [ngClass]="{'white-bloc description': 'true'}">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
		</div>
		<h3>Liste des coachs</h3>
		<div [ngClass]="{'white-bloc bloc-speaker': 'true'}">
			<div [ngClass]="{'speaker': 'true'}">
				<div [ngClass]="{'speaker-name': 'true'}">
					<img src="../assets/img/homme-ordi.jpg">
					<span>Prénom NOM</span>
				</div>
				<div [ngClass]="{'div-langage': 'true'}">
					<ul>
						<li [ngClass]="{'langage l-fr': 'true'}">Français</li>
						<li [ngClass]="{'langage l-en': 'true'}">English</li>
						<li [ngClass]="{'langage l-de': 'true'}">Deutsch</li>
						<li [ngClass]="{'langage l-es': 'true'}">Spanish</li>
						<li [ngClass]="{'langage l-ch': 'true'}">China</li>
						<li [ngClass]="{'langage l-ru': 'true'}">Russia</li>
						<li [ngClass]="{'langage l-it': 'true'}">Italiano</li>
						<li [ngClass]="{'langage l-cz': 'true'}">Czech</li>
					</ul>
				</div>
			</div>
			<div [ngClass]="{'speaker': 'true'}">
				<div [ngClass]="{'speaker-name': 'true'}">
					<img src="../assets/img/homme-ordi.jpg">
					<span>Prénom NOM</span>
				</div>
				<div [ngClass]="{'div-langage': 'true'}">
					<ul>
						<li [ngClass]="{'langage l-fr': 'true'}">Français</li>
						<li [ngClass]="{'langage l-en': 'true'}">English</li>
						<li [ngClass]="{'langage l-de': 'true'}">Deutsch</li>
						<li [ngClass]="{'langage l-es': 'true'}">Spanish</li>
						<li [ngClass]="{'langage l-ch': 'true'}">China</li>
						<li [ngClass]="{'langage l-ru': 'true'}">Russia</li>
						<li [ngClass]="{'langage l-it': 'true'}">Italiano</li>
						<li [ngClass]="{'langage l-cz': 'true'}">Czech</li>
					</ul>
				</div>
			</div>
			<div [ngClass]="{'speaker': 'true'}">
				<div [ngClass]="{'speaker-name': 'true'}">
					<img src="../assets/img/homme-ordi.jpg">
					<span>Prénom NOM</span>
				</div>
				<div [ngClass]="{'div-langage': 'true'}">
					<ul>
						<li [ngClass]="{'langage l-fr': 'true'}">Français</li>
						<li [ngClass]="{'langage l-en': 'true'}">English</li>
						<li [ngClass]="{'langage l-de': 'true'}">Deutsch</li>
						<li [ngClass]="{'langage l-es': 'true'}">Spanish</li>
						<li [ngClass]="{'langage l-ch': 'true'}">China</li>
						<li [ngClass]="{'langage l-ru': 'true'}">Russia</li>
						<li [ngClass]="{'langage l-it': 'true'}">Italiano</li>
						<li [ngClass]="{'langage l-cz': 'true'}">Czech</li>
					</ul>
				</div>
			</div>
			<div [ngClass]="{'speaker': 'true'}">
				<div [ngClass]="{'speaker-name': 'true'}">
					<img src="../assets/img/homme-ordi.jpg">
					<span>Prénom NOM</span>
				</div>
				<div [ngClass]="{'div-langage': 'true'}">
					<ul>
						<li [ngClass]="{'langage l-fr': 'true'}">Français</li>
						<li [ngClass]="{'langage l-en': 'true'}">English</li>
						<li [ngClass]="{'langage l-de': 'true'}">Deutsch</li>
						<li [ngClass]="{'langage l-es': 'true'}">Spanish</li>
						<li [ngClass]="{'langage l-ch': 'true'}">China</li>
						<li [ngClass]="{'langage l-ru': 'true'}">Russia</li>
						<li [ngClass]="{'langage l-it': 'true'}">Italiano</li>
						<li [ngClass]="{'langage l-cz': 'true'}">Czech</li>
					</ul>
				</div>
			</div>
			<div [ngClass]="{'speaker': 'true'}">
				<div [ngClass]="{'speaker-name': 'true'}">
					<img src="../assets/img/homme-ordi.jpg">
					<span>Prénom NOM</span>
				</div>
				<div [ngClass]="{'div-langage': 'true'}">
					<ul>
						<li [ngClass]="{'langage l-fr': 'true'}">Français</li>
						<li [ngClass]="{'langage l-en': 'true'}">English</li>
						<li [ngClass]="{'langage l-de': 'true'}">Deutsch</li>
						<li [ngClass]="{'langage l-es': 'true'}">Spanish</li>
						<li [ngClass]="{'langage l-ch': 'true'}">China</li>
						<li [ngClass]="{'langage l-ru': 'true'}">Russia</li>
						<li [ngClass]="{'langage l-it': 'true'}">Italiano</li>
						<li [ngClass]="{'langage l-cz': 'true'}">Czech</li>
					</ul>
				</div>
			</div>
			<div [ngClass]="{'speaker': 'true'}">
				<div [ngClass]="{'speaker-name': 'true'}">
					<img src="../assets/img/homme-ordi.jpg">
					<span>Prénom NOM</span>
				</div>
				<div [ngClass]="{'div-langage': 'true'}">
					<ul>
						<li [ngClass]="{'langage l-fr': 'true'}">Français</li>
						<li [ngClass]="{'langage l-en': 'true'}">English</li>
						<li [ngClass]="{'langage l-de': 'true'}">Deutsch</li>
						<li [ngClass]="{'langage l-es': 'true'}">Spanish</li>
						<li [ngClass]="{'langage l-ch': 'true'}">China</li>
						<li [ngClass]="{'langage l-ru': 'true'}">Russia</li>
						<li [ngClass]="{'langage l-it': 'true'}">Italiano</li>
						<li [ngClass]="{'langage l-cz': 'true'}">Czech</li>
					</ul>
				</div>
			</div>
			<div [ngClass]="{'speaker': 'true'}">
				<div [ngClass]="{'speaker-name': 'true'}">
					<img src="../assets/img/homme-ordi.jpg">
					<span>Prénom NOM</span>
				</div>
				<div [ngClass]="{'div-langage': 'true'}">
					<ul>
						<li [ngClass]="{'langage l-fr': 'true'}">Français</li>
						<li [ngClass]="{'langage l-en': 'true'}">English</li>
						<li [ngClass]="{'langage l-de': 'true'}">Deutsch</li>
						<li [ngClass]="{'langage l-es': 'true'}">Spanish</li>
						<li [ngClass]="{'langage l-ch': 'true'}">China</li>
						<li [ngClass]="{'langage l-ru': 'true'}">Russia</li>
						<li [ngClass]="{'langage l-it': 'true'}">Italiano</li>
						<li [ngClass]="{'langage l-cz': 'true'}">Czech</li>
					</ul>
				</div>
			</div>
			<div [ngClass]="{'speaker': 'true'}">
				<div [ngClass]="{'speaker-name': 'true'}">
					<img src="../assets/img/homme-ordi.jpg">
					<span>Prénom NOM</span>
				</div>
				<div [ngClass]="{'div-langage': 'true'}">
					<ul>
						<li [ngClass]="{'langage l-fr': 'true'}">Français</li>
						<li [ngClass]="{'langage l-en': 'true'}">English</li>
						<li [ngClass]="{'langage l-de': 'true'}">Deutsch</li>
						<li [ngClass]="{'langage l-es': 'true'}">Spanish</li>
						<li [ngClass]="{'langage l-ch': 'true'}">China</li>
						<li [ngClass]="{'langage l-ru': 'true'}">Russia</li>
						<li [ngClass]="{'langage l-it': 'true'}">Italiano</li>
						<li [ngClass]="{'langage l-cz': 'true'}">Czech</li>
					</ul>
				</div>
			</div>
		</div>
	</article>
