@mixin opct($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin trs($element: all, $duration: 0.5s, $trs: ease-in-out ) {
	-webkit-transition: $element, $duration, $trs;
	-moz-transition: $element, $duration, $trs;
	-ms-transition: $element, $duration, $trs;
	transition: $element, $duration, $trs;
}

@mixin scale($scale) {
	-webkit-transform: scale($scale);
	-ms-transform: scale($scale);
	transform: scale($scale);
}

@mixin border-box() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
