@media screen and (max-width: $break-tab - 1) { 
	aside {
		width:40% !important;
		div.aside-bot {
			h2 {
				font-size:15px;
			}
			.mat-form-field {
				margin-top: -10px;
			}
			.programme-informations .little-bloc {
			    width: 22%;
    			min-width: 97px;
    			height:90px;
    			.info-title {
    				margin-top: 5px;
    			}
			}
		}
	}
	article {
		padding:20px 40px !important;
		width: 60% !important;
		.bloc-speaker {
			.speaker {
				width: 14.7vw;
				.speaker-name {
					height:11vw;
					span {
						padding-top: 15px;
					}
				}
				.div-langage {
					padding: 0 25px;
					ul li {
						width: 15px;
			    		height: 15px;
			    		margin: 0px 3px;
			    	}
				}
			}
		}

	}
}

@media screen and (max-width: $break-mob - 1) {
	header, section {
		display:none !important;
	}
	aside {
		width:100% !important;
		div.aside-bot {
		    .tags {
		    	span {
		    		font-size:10px;
		    		padding: 5px 20px;

		    	}
		    }
	    	.mat-form-field {
	    		font-size:10px;
	    		position: absolute;
			    right: 0;
			    top: 322px;
	    	}
			div.programme-informations .little-bloc {
			    width: 22vw;
			    height: 20vw;
			    min-width: 0;
			    .picto {
			    	font-size:12px;
			    }
				span.info-title {
					margin-top: 5px;
					font-size:11px;
				}
				span.info {
					font-size:10px;
				}
			}			
		}

	}
	article {
		width:100% !important;
		padding:15px !important;
		div.bloc-speaker {
			padding:15px 1px;
			text-align:center;
			.speaker {
				width: 39vw;
				margin-bottom:15px;
				.speaker-name {
					height:28vw;
					span {
						padding-top: 15px;
					}
				}
				.div-langage {
					padding: 0 5vw;
					ul li {
						width: 4vw;
			    		height: 4vw;
			    		margin: 0px 5px;
			    	}
				}
			}
		}
	}
} 