@import './variables';
@import './mixins';
@import './resp';
@import '../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

body {
	margin: 0 !important;
}

* {
	font-family:"Montserrat";
}

/* HEADER */

header {
	width: 100%;
	height: 107px;
	background:white;
}

// Logo
span.logo {
	font-size:0;
	width: 58px;
	height: 58px;
	display:inline-block;
	float:left;
	margin: 30px 0 0 30px;
	a {
		text-decoration:none;
		background: url(../../assets/img/logo.png);
		background-size:cover;
		display:block;
		width:100%;
		height:100%;
		@include trs;
		&:hover {
			@include opct(0.7);
		}
	}
}

// Menu principal
.cdk-visually-hidden {
	display:none !important;
}
.sidenav-container {
	display:inline-block;
	margin-top: 30px;
	background:white;
	.mat-nav-list {
		padding:0;
	}
	.sidenav {
		transform: translate3d(0,0,0) !important;
		width: auto;
		position:relative;
		display:inline-block;
		.mat-list-item {
			display: inline-block;
		}
		a {
			font-size:18px;
			color: rgba($main, 0.5);
			text-transform:uppercase;			
			@include trs;
			position:relative;
			&:after {
				display:block;
				@include trs;
				margin-left:16px;
				content:"";
				height:3px;
				width:0px;
				position:absolute;
				bottom:8px;
				background:$bluesky;
			}
			&:hover {
				background:none;
				color:$main;
				&:after {
					width:40px;
				}
			}
		}
	}
	.sidenav + div {
		background-color: #fff;
	}
	.mat-sidenav-content {
		display: none;
	}
}

//Menu bubble
.navigation {
	display:block;
	float:right;
	li {
		display:inline-block;
		list-style:none;
		margin: 10px;
		position:relative;
		padding:0;
		span.count-msg {
			width:20px;
			height:20px;
			background:red;
			color:white;
			font-size:12px;
			font-weight:bold;
			text-align:center;
			display:block;
			border-radius:10px;
			line-height:20px;
			position:absolute;
			right:0;
			z-index:1;
		}
		a {
			padding:0;
			width:55px;
			min-width:0;
			border-radius:29px;
			background:$lightgrey;
			height:55px;
			display:block;
			line-height:55px;
			font-size: 0;
			color:$main;
			white-space:nowrap;
			@include trs;
			text-decoration:none;
			border:2px solid $lightgrey;
			a.active,
			&:hover {
				background:$main;
				color:$lightgrey;
				border-color:$main;
			}
			&.news-menu {
				&:before {
					content:"\f1ea";
					font-family:"Font Awesome" !important;
					font-size:20px;
					@include trs;
				}
			}
			&.messages-menu {
				&:before {
					content:"\f0e0";
					font-family:"Font Awesome" !important;
					font-size:20px;
					@include trs;
				}
			}
			&.profil-menu {
				font-size:20px;
				background:$main;
				color:$lightgrey;
				border-color:$main;
				&:hover {
					color:$main;
					background-color:$lightgrey;
				}

			}
		}
	}
}

/* SECTION BANNER TOP */

section.banner-top {
	height:64px;
	line-height:64px;
	width:100%;
	display:flex;
	h1 {
		background: $main;
		color:white;
		font-size:22px;
		display:inline-block;
		width:75%;
		box-sizing:border-box;
		font-weight:bold;
		text-align:left;
		margin:0;
		padding-left:30px;
	}
	button {
		border:none;
		padding-left:30px;
		display:inline-block;
		width:25%;
		font-size:18px;
		background:$bluesky;
		color:white;
		position: relative;
		text-align:center;
		height:100%;
		vertical-align:top;
		@include trs;
		&:before {
			content:"+";
			font-size: 18px;
			padding:5px;
			border-radius:29px;
			border: 2px solid white;
			display:block;
			position:absolute;
			left:15px;
			top:50%;
			margin-top:-16px;
			width: 16px;
		    height: 16px;
		    line-height: 16px;
		}
	}
}

/* ASIDE */
aside {
	width:30%;
	height:100%;
	display:inline-block;
	vertical-align:top;
	.aside-top {
		position:relative;
		img {
			width:100%;
		}
		span {
			font-size: 1.3vw;
			color: white;
			font-style: italic;;
			text-align: center;
			background:$bluesky;
			border-radius: 20px;
			padding: 5px 10px;
			position: relative;
    		bottom: 60px;
		}
	}
	.aside-bot {
		padding: 20px;
		h2 {
			font-size:18px;
			color:$darkblue; 
			text-align: left;
   			float: left;
   			font-weight:bold;
		}
		.mat-form-field {
			float:right;
			.mat-form-field-label-wrapper {
				display:none;
			}
			.mat-select,
			.mat-select-content .mat-option {
				text-align:center;
			}
		}
		.tags {
			text-align:left;
			clear:both;
			padding: 20px 0;
			span {
				background:$green;
				color:white;
				padding: 5px 35px;
				font-size:15px;
				border-radius:15px;
				margin: 0 15px 15px 0;
			}
		}
		.programme-informations {
			text-align:left;
			margin-top:30px;
			.little-bloc {
				background:$darkgrey;
				width:7.5vw;
				display:inline-block;
				padding:15px 5px;
				height:7vw;
				margin:5px;
				border-radius:5px;
				vertical-align: top;
				text-align:center;
				position:relative;
				.picto {
					font-size:22px;
					color:$bluesky;
					display:block;
					&.calendar:before {
						content:"\f073";
						font-family:"Font Awesome";
					}
					&.diagram:before {
						content:"\f542";
						font-family:"Font Awesome Bold";
					}
					&.stopwatch:before {
						content:"\f2f2";
						font-family:"Font Awesome Bold";
					}
					&.chart-bar:before {
						content:"\f080";
						font-family:"Font Awesome";
					}
					&.bullseye:before {
						content:"\f140";
						font-family:"Font Awesome Bold";
					}
				}
				.info-title {
					font-size:12px;
					color:$bluesky;
					margin-top:15px;
					text-align:center;
					display:block;
					font-weight:bold;
				}
				.info {
					color:$main;
					font-weight:bold;
					position:absolute;
					width:100%;
					left:0;
					bottom:10px;
					font-size: 12px;
				}
			}
		}
	}
}

/* Article */

article {
	background:#F3F3F5;
	padding:40px 60px;
	display:inline-block;
	width:70%;
	vertical-align:top;
	box-sizing:border-box;
	h3 {
		font-size:15px;
		color:$main;
		text-align:left;
	}
	.white-bloc {
		padding: 25px;
		color: $main;
		background:white;
		font-size: 15px;
		border-radius:3px;
		text-align:left;
		margin-bottom:40px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=16, Direction=0, Color=#CCCCCC)";/*IE 8*/
		-moz-box-shadow: 0 0 16px 3px rgba(204,204,204,0.2);/*FF 3.5+*/
		-webkit-box-shadow: 0 0 16px 3px rgba(204,204,204,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
		box-shadow: 0 0 16px 3px rgba(204,204,204,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=16, Direction=135, Color=#CCCCCC); /*IE 5.5-7*/
	}
	.bloc-speaker {
		padding: 40px 25px;
	}
	.speaker {
		width: 13.7vw;
		box-sizing:border-box;
		display:inline-block;
		margin:5px;
		margin-bottom:40px;
		.speaker-name {
			position:relative;
			height:9vw;
    		overflow:hidden;
    		border-radius:5px;
			img {
				width: 100%;
    			height: 100%;
			}
			span {
				display:block;
				width:100%;
				padding-top:30px;
				padding-bottom:5px;
				color:white;
				font-size:15px;
				position:absolute;
				bottom:0;
				text-align:center;
				background: -moz-linear-gradient(360deg, #000000 0, #FFFFFF 100%);/* FF3.6+ */
				background: -webkit-gradient(linear, 360deg, color-stop(0, 000000), color-stop(100%, FFFFFF));/* Chrome,Safari4+ */
				background: -webkit-linear-gradient(360deg, #000000 0, #FFFFFF 100%);/* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(360deg, #000000 0, #FFFFFF 100%);/* Opera 11.10+ */
				background: -ms-linear-gradient(360deg, #000000 0, #FFFFFF 100%);/* IE10+ */
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
				background: linear-gradient(360deg, rgba(#000000,0.9) 0, rgba(#FFFFFF, 0.9) 100%);/* W3C */
			}
		}
		.div-langage {
			padding: 0 2vw;
			ul {
				margin:0;
				padding:0;
				text-align:center;
				li.langage {
					list-style:none;
					display:inline-block;
					margin: 1px 5px;
					width: 1.4vw;
    				height: 1.2vw;
					font-size:0;
					vertical-align:top;
					&.l-fr {
						background:url(../../assets/img/france.png);
						background-size:cover;
					}
					&.l-en {
						background:url(../../assets/img/great-britain.png);
						background-size:cover;
					}
					&.l-de {
						background:url(../../assets/img/germany.png);
						background-size:cover;
					}
					&.l-it {
						background:url(../../assets/img/italy.png);
						background-size:cover;
					}
					&.l-es {
						background:url(../../assets/img/spain.png);
						background-size:cover;
					}
					&.l-ru {
						background:url(../../assets/img/russia.png);
						background-size:cover;
					}
					&.l-ch {
						background:url(../../assets/img/china.png);
						background-size:cover;
					}
					&.l-cz {
						background:url(../../assets/img/czech-republic.png);
						background-size:cover;
					}
				}
			}
		}
	}
}
